.head_inner {
    margin-top: 12px;
}

.bord {
    width: 100%;
    height: 1px;
    background-color: #E2E8F0;
}

.bord_inner {
    margin-left: 315px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.bord_inner_ser {
    margin-right: 32px;
    font-weight: 400;
    font-size: 14px;
}